body {
    font-family: Georgia;
    background-image:;
    background: url(https://vgtimes.ru/uploads/gallery/main/156773/dco886c-ac30e66f-08e2-41c9-be72.jpg);
}

footer{
    background-color: gainsboro;
}

h1{
  background-color: greenyellow;
}

h2{
  background-color: greenyellow;
}

main{
    background-color: lightcoral;
}

